TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN_HERE"
HF_MODEL_NAME="microsoft/Florence-2-base"
#USER = "your name"


# You can also try other models. Note: some models like florence2
# may require code changes to the bot's image processing logic.
# HF_MODEL_NAME="microsoft/florence2-base"
# HF_MODEL_NAME="Salesforce/blip-image-captioning-base"
